<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1 class="head">Sign Up</h1>
      <form class="mainSect">
        <label for="email">Email</label>
        <br />
        <input type="text" name="email" required class="length one" />
        <div class="email error"></div>
        <label for="password">Password</label>
        <br />
        <input type="password" name="password" required class="length two" />
        <div class="password error"></div>
        <button class="btn">Sign up</button>
      </form>
    </div>

    <script>
      const form = document.querySelector("form");
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        const email = form.email.value;
        const password = form.password.value;
        console.log(email, password);
      });
    </script>
  </body>
</html>
